<!DOCTYPE html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <title>Todos App</title>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script src="js/controllers/ToDoController.js"></script>
    <script src="js/factories/ToDoFactory.js"></script>
    <script src="js/services/ToDoService.js"></script>
  </head>
  <body>
    <div id="todos" ng-controller="ToDoController as controller">
      <input type="text" id="new-todo-name" ng-model="todoText">
      <button id="add-todo" ng-click="controller.addToDo(todoText);">Add a ToDo</button>
      <select class="filter" ng-model='option'>
        <option value=''>All</option>
        <option value="true">Completed</option>
        <option value='false'>Not Completed</option>
      </select>
      <button id="remove-todo" ng-click='controller.removeToDo();'>Remove last ToDo</button>
      <p ng-repeat='todo in controller.todos | filter:option'>
        {{todo.text}}: {{todo.completed ? "completed" : "not completed"}}
        <button class="complete" ng-click="todo.complete();">Done</button>
      </p>
    </div>
  </body>
</html>
